#tela {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.chartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10rem;
    margin-top: 8rem;
    margin-left: 30rem;
    overflow: visible;
    z-index: 1;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Valor alto para garantir que o menu esteja sobreposto */
}

#info_visao_geral {
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 30rem;
    color: white;
    margin-top: 5rem;
    margin-right: -35rem;
    z-index: 1;
}

#funcionarios, #ferramentas {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    text-align: center;
}

#funcionarios {
    margin-left: -58rem;
}

#ferramentas {
    margin-left: 62.5rem;
}

.funcionarios, .ferramentas {
    font: normal 400 2.5rem 'Inter';
}

.quantidade {
    font: normal 1000 8rem 'Inter';
}

#chart {
    width: 30rem;
    height: 30rem;
}

#info_funcionarios, #info_ferramentas {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.info_row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.numero, .porcentagem {
    font: normal 700 4rem 'Inter';
    color: white;
    width: 10rem; /* Definir uma largura fixa para garantir o alinhamento */
    text-align: center;
    position: relative;
}

.texto {
    font: normal 500 2rem 'Inter';
    color: white;
    width: 25rem; /* Definir uma largura fixa para garantir o alinhamento */
}

/* Pseudoelementos para os retângulos coloridos */
.porcentagem::before, .numero::before {
    content: '';
    position: absolute;
    left: -1.5rem;
    width: 1rem;
    height: 100%;
    background-color: transparent; /* Será alterado para a cor desejada */
}

/* Cores específicas para cada retângulo */
.info_row:nth-child(1) .porcentagem::before {
    background-color: #0BDD17; /* Verde */
}

.info_row:nth-child(2) .numero::before {
    background-color: #0BDD17; /* Verde */
}

.info_row:nth-child(3) .porcentagem::before {
    background-color: #DD0B0B; /* Vermelho */
}

.info_row:nth-child(4) .numero::before {
    background-color: #DD0B0B; /* Vermelho */
}

/* Cores específicas para info_ferramentas */
#info_ferramentas .info_row:nth-child(1) .porcentagem::before {
    background-color: #0BDD17; /* Verde */
}

#info_ferramentas .info_row:nth-child(2) .numero::before {
    background-color: #0BDD17; /* Verde */
}

#info_ferramentas .info_row:nth-child(3) .porcentagem::before {
    background-color: #DD0B0B; /* Vermelho */
}

#info_ferramentas .info_row:nth-child(4) .numero::before {
    background-color: #DD0B0B; /* Vermelho */
}

#info_ferramentas .info_row:nth-child(5) .numero::before {
    background-color: #FFA500; /* Laranja */
}

#info_ferramentas .info_row:nth-child(6) .numero::before {
    background-color: #009bcf; /* Azul */
}
