/* Estilos para o container do menu */
#menu_div {
    width: 25rem; /* Largura fixa para o menu */
    background-color: #ffffff; /* Cor de fundo do menu */
    height: 100vh; /* Altura total da tela */
    display: flex;
    flex-direction: column;
    position: fixed; /* Fixa o menu na posição */
    top: 0;
    left: 0;
    z-index: 2;
}

/* Outros estilos permanecem inalterados */

a {
    text-decoration: none; /* Remove o sublinhado */
}

#menu_nav {
    flex: 1; /* Ocupa o espaço disponível */
    display: flex;
    flex-direction: column;
}

#menu_ul {
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    flex: 1; /* Ocupa o espaço disponível */
}

.div_navbar {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #000000; /* Linha de separação entre os itens */
    cursor: pointer;
    background-color: white; /* Fundo branco por padrão */
    color: black; /* Texto preto por padrão */
}

.div_navbar:hover {
    background-color: #fafafa; /* Cor de fundo ao passar o mouse */
}

.selected {
    background-color: #f46524 !important; /* Cor de fundo selecionada */
    color: white !important; /* Texto branco quando selecionado */
}

.quadradinho {
    width: 6.5rem; /* Tamanho do ícone */
    height: 6.5rem; /* Tamanho do ícone */
    margin-right: 1.5rem; /* Espaço entre o ícone e o texto */
}

.texto_menu {
    font: normal 500 1.7rem 'Lato';
    color: #333; /* Cor do texto */
}

#logout_container,#inativos_container {
    padding: 15rem 20rem; /* Espaçamento interno */
    text-align: center;
}

.div_inativos {
    border-top: 0.1rem solid #000000; /* Linha de separação entre os itens */
}

#logout,#inativos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout:hover,#inativos:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.quadradinho_logout,.quadradinho_inativos {
    width: 6.5rem; /* Tamanho do ícone */
    height: 6.5rem; /* Tamanho do ícone */
    margin-right: 1.5rem; /* Espaço entre o ícone e o texto */
}

#texto_logout,#texto_inativos {
    font-size: 1.6rem;
    color: #333;
}
