/* emprestimo.module.css */

/* Container principal */
.div_emprestimo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Uso de porcentagem para responsividade */
  max-width: 1200px; /* Máximo de largura */
  margin: 0 auto; /* Centraliza a div */
  padding: 1rem;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .div_emprestimo {
    width: 95%; /* Aumenta a largura para telas menores */
    padding: 0.5rem;
  }

  .searchbar,
  .input_searchbar,
  .btn {
    width: 100%; /* Ajusta elementos internos para ocupar toda a largura */
  }
}

/* Barra de pesquisa */
.searchbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input_searchbar {
  flex-grow: 1; /* Permite que o input cresça e ocupe o espaço disponível */
  margin-right: 0.5rem; /* Espaçamento entre o input e o botão */
}

/* Ajustes no botão */
.btn {
  padding: 0.8rem 1.2rem; /* Padding maior para facilitar o clique */
}

/* Ajustes gerais para todos os inputs e botões */
input[type="text"],
input[type="search"],
button {
  height: 44px; /* Altura padrão para melhorar a acessibilidade */
  border: 1px solid #ccc; /* Borda sutil */
}

/* Div pai */
.div_pai {
  position: fixed;
  bottom: -1.5rem;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 87vw;
  height: 90vh;
  scrollbar-width: none; /* Para navegadores que suportam (e.g., Firefox) */
  -ms-overflow-style: none; /* Para Internet Explorer 10+ */
}

/* Para esconder a barra de rolagem em Webkit browsers como Chrome e Safari */
.div_pai::-webkit-scrollbar {
  display: none;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4rem;
  padding: 1rem;
  width: 100%;
  margin-left: 9rem;
}
