* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#ferramentas_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.ferramenta_item {
    margin: 1rem 0;
    text-align: center;
    margin-left: 50%;
    font: normal 400 2rem 'Lato';
    color: white;

}

.ferramenta_nome, .ferramenta_numSerie {
    margin: 0.5rem 0;
}


#searchbar {
    width: 40vw;
    height: 2.5vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 4rem;
    justify-content: space-around;
    align-items: center;
    position: relative; /* Adiciona esta linha */
    margin-left: 45%; /* Centraliza horizontalmente */
    margin-top: 4%;
    min-width: 40vw;
    min-height: 2.5rem;
}

#input_searchbar {
    border: 0;
    min-width: 20rem;
    margin-left: -1rem;
    height: 2.5rem;
    color: black;
    background-color: rgb(255, 255, 255);
}

.radio {
    position: relative;
    width: 2rem; /* Ajuste conforme necessário */
    height: 2rem; /* Ajuste conforme necessário */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 2px solid #727272;
    border-radius: 50%;
    cursor: pointer;
}

.radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem; /* Ajuste conforme necessário */
    height: 1rem; /* Ajuste conforme necessário */
    background-color: #727272;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.label_searchbar {
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    margin-bottom: 0;
    margin-top: 0.5rem; /* Adiciona esta linha para mover para baixo */
}

#filtro:hover {
    cursor: pointer;
}

#filtro {
    font: normal 400 2rem 'Lato';
}

.options_box {
    position: absolute; /* Adiciona esta linha */
    left: 100%; /* Alinha à direita */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens horizontalmente ao início */
    justify-content: center; /* Alinha os itens verticalmente ao centro */
    font: normal 500 1.5rem 'Lato';
    background-color: #F46524;
    width: 10rem;
    height: 15rem;
    padding: 1rem; /* Adiciona padding para dar espaço interno */
}
