.tela_cheia {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal 500 1.7rem 'Lato';
}

.modal {
    width: 70vw;
    height: 56vh;
    display: flex;
    background-color: #444444;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0,0,0,0.1);
    position: relative; /* Adicionado para posicionar absolutamente os filhos */
}

#fechar {
    position: absolute;
    top: -1rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: white; /* Cor para facilitar a visualização */
}

.modal_image {
    width: 50rem;
    height: 50rem;
    object-fit: cover;
    border-radius: 10%;
    margin-right: 2rem;
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 22rem);  /* Ajustando a largura para contar com a imagem e a margem */
}

.modal_info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* Ajustando o espaço para melhor visualização */
}

.info_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    background-color: #353535;
    padding: 1rem;
    font-weight: 400;
    border-radius: 1.5rem;
    font-size: 1.6em;
    flex-basis: 30%; /* Alocando espaço para o rótulo */
    white-space: nowrap;
    color: white;

}

.modal_content p {
    flex-grow: 1;
    text-align: left;
    margin-left: 3rem;
    font-size: 3rem;
    white-space: nowrap;
    line-height: 2;
    color: white;
}

.modal_buttons {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Assegurando que os botões preencham toda a largura */
    gap: 1rem;
    margin-top: 1rem; /* Espaço extra acima dos botões */
}

.edit_button, .remove_button {
    flex: 1; /* Garante que os botões ocupem espaço igual */
    padding: 1rem 2rem;
    border: none;
    color: white;
    font-size: 1.5rem; /* Tamanho da fonte aumentado para visibilidade */
    cursor: pointer;
    border-radius: 1.5rem;
    text-transform: uppercase;
    height: 7.5vh; /* Permitindo que a altura se ajuste baseada no conteúdo */
    font-weight: 500;
    font-size: 4rem;

}

.edit_button {
    background-color: #F46524;
}

.remove_button {
    background-color: #F46524;
}

.edit_button:hover, .remove_button:hover {
    background-color: #ff7637;
}
