.tela_cheia {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal 500 1.7rem 'Lato';
    z-index: 2;
}

.modal {
    width: 50vw;
    height: auto;
    display: flex;
    background-color: #444444;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    position: relative;
    flex-direction: column;
}

#fechar {
    position: absolute;
    top: -1rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: white;
}

.modal_image {
    display: none;
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.modal_info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.info_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    background-color: #353535;
    padding: 1rem;
    font-weight: 400;
    border-radius: 1.5rem;
    font-size: 3rem;
    flex-basis: 30%;
    white-space: nowrap;
    color: white;
}

.modal_content p {
    flex-grow: 1;
    text-align: left;
    margin-left: 5rem;
    font-size: 3rem;
    white-space: nowrap;
    line-height: 2;
    color: white;
}

.select {
    margin-left: auto;
    width: 65%;
}

.modal_buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.edit_button, .remove_button, .relatorio_button {
    flex: 1;
    padding: 1rem 2rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1.5rem;
    text-transform: uppercase;
    justify-content: center;
    height: 7.5vh;
    font-weight: 500;
    font-size: 3rem;
}

#input_text,
#select_status,
#datepicker_aquisicao {
    width: 60%;
    padding: 1rem;
    height: 5vh;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #353535;
    color: white;
    font-size: 1.6rem;
    outline: 0;
}

.edit_button {
    background-color: #F46524;
}

.remove_button {
    background-color: #F46524;
}

.relatorio_button {
    background-color: #F46524;
}

.edit_button:hover, .remove_button:hover, .relatorio_button:hover {
    background-color: #ff7637;
}

/* Media Queries para tornar responsivo */
@media (max-width: 80rem) {
    .modal {
        width: 70vw;
    }
}

@media (max-width: 70rem) {
    .modal {
        width: 60vw;
    }

    .select {
        width: 65%;
        margin: 1rem auto;
    }

    .modal_buttons {
        flex-direction: column;
        gap: 1rem;
    }

    .edit_button, .remove_button, .relatorio_button {
        font-size: 1.8rem;
        padding: 1rem 0;
    }
}

@media (max-width: 60rem) {
    .modal {
        width: 50vw;
    }

    .modal_content p {
        font-size: 1.8rem;
        margin-left: 5rem;
    }

    .select {
        width: 65%;
        margin: 1rem auto;
    }
}

@media (max-width: 50rem) {
    .modal {
        padding: 0.5rem;
    }

    .label, .modal_content p {
        font-size: 1.6rem;
    }

    .select {
        width: 65%;
        margin: 1rem auto;
    }

    .edit_button, .remove_button, .relatorio_button {
        font-size: 1.6rem;
    }
}

@media (max-width: 40rem) {
    .label, .modal_content p {
        font-size: 1.4rem;
    }

    .select {
        width: 65%;
        margin: 1rem auto;
    }

    .edit_button, .remove_button, .relatorio_button {
        font-size: 1.4rem;
    }
}

@media (max-width: 30rem) {
    .label, .modal_content p {
        font-size: 1.2rem;
    }

    .select {
        width: 65%;
        margin: 1rem auto;
    }

    .edit_button, .remove_button, .relatorio_button {
        font-size: 1.2rem;
    }
}

/* Media Queries para orientação vertical */
@media (orientation: portrait) {
    .modal {
        width: 90vw;
    }

    .modal_content p {
        font-size: 1.8rem;
        margin-left: 5rem;
    }

    .select {
        width: 65%;
        margin: 1rem auto;
    }

    .modal_buttons {
        flex-direction: column;
        gap: 1rem;
    }

    .edit_button, .remove_button, .relatorio_button {
        font-size: 1.8rem;
        padding: 1rem 0;
    }
}
