#menu {
    display: flex;
    flex-direction: column;
}

#div_ferramenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-left: 25rem;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 0;
}

#ferramentas_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 8rem;
    width: 100%;
    overflow-y: hidden;
}

.ferramenta_item {
    margin: 1rem 0;
    text-align: center;
    font: normal 400 2rem 'Lato';
    color: white;
}

.ferramenta_nome, .ferramenta_numSerie {
    margin: 0.5rem 0;
}

#searchbar {
    width: 30vw;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    background-color: #353535;
    border-radius: 4rem;
    justify-content: space-around;
    align-items: center;
    position: inherit;
    left: 17.5%;
    top: 4rem;
    transform: translateX(-50%);
    min-width: 30vw;
    padding: 0 1rem;
}

#input_searchbar {
    border: none;
    flex: 1;
    height: 2.5rem;
    outline: none;
    color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    text-align: left;
    background-color: #353535;
}

#adicionar {
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.radio {
    position: relative;
    width: 2rem;
    height: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 2px solid #353535;
    border-radius: 50%;
    cursor: pointer;
}

.radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #353535;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.label_searchbar {
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

#filtro {
    font: normal 400 1.6rem 'Lato';
    margin-right: 1rem;
    color: #353535;
}

.options_box {
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font: normal 500 1.5rem 'Lato';
    color: white;
    background-color: #F46524;
    width: 15rem;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.option_row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.div_pai {
    position: fixed;
    bottom: -1.5rem;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 87vw;
    height: 90vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.div_pai::-webkit-scrollbar {
    display: none;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4rem;
    padding: 1rem;
    width: 100%;
    margin-left: 9rem;
}

@media(max-width: 78.438rem){
    .div_pai {
        width: 77vw;
    }
}

@media(max-width: 56.25rem){
    .div_pai {
        width: 67vw;
    }
}